@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@600&display=swap');
*{
    padding: 0px;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

<<<<<<< HEAD
=======

>>>>>>> fd7c227b55bde7e300383091aaf935eb31fcea59
body {
    height: 100vh;
    margin: 0;
    place-content: top;
    background: #F2DCA2;
}
html{
    width: 100%;
    height: 100%;
}
.nav-bar{
  background-color: #333;
}
.navimg{
  display: flex;
  float: left;
  justify-content: left;
  align-items: left;
  padding-top: 10px;
  padding-left: 4px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-size: 23px;
}
  
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 34px 60px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
body {
    background: hsl(220deg, 10%, 97%);
    margin: 0;
    padding: 0;
  }
<<<<<<< HEAD

.main-wrapper
{
  padding: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
=======
  
  .buttons-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .heading{
    color: white;
    margin-left: 70px;
    margin-bottom: 200px;
  }
  .infoox{
    color: white;
    margin-right: 90px;
    margin-bottom: 30px;
   
  }
  
  button {
    position: absolute;
    bottom: 8rem;
    justify-content: center;
    background: rgba(173, 173, 173, 0.623);
    border: solid 2px rgba(231, 231, 231, 0.596)28, 128, 128;
    padding: 4% 10%;
    font-size: 1rem;
  }
  
  .button-arounder {
    font-size: 2rem;
    background: rgb(255, 255, 255), 0.411;
    color: hsl(0, 0%, 100%);
    
    box-shadow: 0 0px 0px hsl(0, 0%, 100%);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    --dur: 0.1s;
    --delay: 0.1s;
    --radius: 16px;
    transition:
      border-top-left-radius var(--dur) var(--delay) ease-out,
      border-top-right-radius var(--dur) calc(var(--delay) * 2) ease-out,
      border-bottom-right-radius var(--dur) calc(var(--delay) * 3) ease-out,
      border-bottom-left-radius var(--dur) calc(var(--delay) * 4) ease-out,
      box-shadow calc(var(--dur) * 4) ease-out,
      transform calc(var(--dur) * 4) ease-out,
      background calc(var(--dur) * 4) steps(4, jump-end);
  }
  
  .button-arounder:hover, .button-arounder:focus {
    box-shadow: 0 4px 8px hsl(0, 0%, 100%);
    transform: translateY(-4px);
    background: hsl(128, 50%, 45%);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
  }
  .main-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
>>>>>>> fd7c227b55bde7e300383091aaf935eb31fcea59
}
.main-text{
  position: relative;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Poppins;
  font-size: 1.5rem;
  color: #414141;
}
.heading{
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
  font-family: Poppins;
  font-size: 1.5rem;
  color: #414141;
<<<<<<< HEAD
}
.back {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9){
  .back{
      width: 100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9){
  .back{
      width: auto;
      height: 100%;
  }
}
button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
button:hover span{
  width: 100%;
}
button:hover{
  border: none;
}
.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50px);
  text-align: center;
  color: #fff;
}
.content h1{
  font-size: 3rem;
  transition: 0.5s;
}
.content h1:hover{
-webkit-text-stroke: 2px #fff;
color: transparent;
}
span {
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50px);
  text-align: center;
  color: #fff;
}
.content h1{
  font-size: 3rem;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

=======
}
>>>>>>> fd7c227b55bde7e300383091aaf935eb31fcea59
